# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# IntelliJIdea files
*.iml
.idea/*
.idea/*.*

# Other
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
Global Menu Tester/Global Menu Tester.iml
.DS_Store
.DS_Store

/.vscode
/asconfig.json

.vscode/
asconfig.json
